
/* ****** INSCRIPION & CONNEXIN ****** */

html {
    font-family: Arial;
}

body {

    background: url(space.jpg) ;
    background-size: cover;
    background-position: center;
}


h1 {
    text-align: center;

    }

a {
text-decoration: none;
color: red;
}

.inscri {
background: rgba(201, 201, 211, 0.5);
padding: 30px
}

.connect {
background: rgba(201, 201, 211, 0.5);
padding: 30px
}

.form {
    padding: 30px;
}


.box-a {
    padding: 80px;
    margin-left: 25%;
    margin-right: 25%;
}

.box-b {
    padding: 80px;
    margin-left: 25%;
    margin-right: 25%;
}

#button{
    margin-top: 10%;
    text-align: center;
    border-radius: 5px;

}

input {
    border : 1px solid black ;
    padding: 5px 10px;
    margin-left: 10px;

}


.msg {
    text-align: center;
    color: red;
    font-weight: bold;
}


 /* ****** PAGE D'ACCUEIL **** */ 


.bodyaccueil { 

    background: url(moonn.jpg) ;
    background-size: cover;
    
}

.h1accueil {
    margin-top: 10%;
    text-align: center;
    color:white
}


.h2accueil {
    text-align: center;
    color: white;
    margin-top: 5%;
    
}

.aacueil {
text-decoration: none;
color: red;
}



 /* ****** PROFIL **** */ 

.bodyprofil {
    background: url(lune.jpg) ;
    margin-top: 5%;
}

 .h1profil {
     text-align: center;
     color: rgb(44, 184, 219);
     margin-top: 5%;
 }


.h2profil {
    text-align: center;
    color: rgb(255, 0, 0);

}


 /* ****** ADMIN **** */ 

.bodyadmin {
    background: url(nuage.jpg) ;
    background-size: cover;
    margin-top: 5%;
}

.h1admin {
     text-align: center;
     color: black;
 }

.middle {
    text-align: center;
    margin-top: 5%;
    margin-left: 38%;
}

